* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #a4ca49;
  height: 100vh;
}

.logo img {
  width: 120px;
  border-radius: 50px;
  margin-top: 30px;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
}

nav ul {
  margin-top: 60px;
  margin-right: 150px;
}

nav ul li {
  display: inline;
  margin: 30px;
  font-weight: 500;
  font-size: 1.3em;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}

nav ul li:hover {
  color: black;
  transition: 0.2s;
}

.title {
  text-align: center;
}

.title h1 {
  font-size: 5em;
  text-transform: uppercase;
  margin-top: 50px;
  color: #f0fff0;
}

.title p {
  font-size: 2em;
  color: black;
}

.intro {
  background-color: darkseagreen;
  background-size: cover;
  margin: 60px 10px;
  padding: 30px;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
  border-radius: 20px;
  color: white;
}

button {
  margin-left: 27em;
  font-size: 1.5em;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  color: green;
  background-color: white;
}

button:hover {
  background-color: #a4ca49;
  color: white;
  transition: 0.2s;
}

/* ........ header css done........... */

.info {
  margin: 10px;
}

.info h2 {
  text-align: center;
  padding: 20px;
  font-size: 40px;
}

.info p {
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 20px;
}

.row-images {
  display: flex;
  justify-content: space-around;
}

.row-images img {
  width: 23%;
}

.donation {
  margin-top: 30px;
}

footer {
  background-color: black;
  height: 70px;
  margin-top: 50px;
}

.foot p {
  text-align: center;
  padding-top: 20px;
}

.foot a {
  color: white;
  font-size: 20px;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.bouncy-img {
  width: 3%;
  height: 3%;
  margin: 10px auto 5px 50px;
}

.bouncy-img:hover {
  animation: bounce 1s;
}

.bouncy-img1 {
  width: 3%;
  height: 3%;
  margin: 10px auto 5px 1550px;
}

.bouncy-img1:hover {
  animation: bounce 1s;
}
